# Gestures stuff
*.ini

# Python stuff
__pycache__
*.pyc

# PyInstaller stuff
build
dist

# IDE / Code editor stuff
.vscode
.idea
*.xml
*.iml

# Test files
tests/shortcuts.txt
src/shortcuts.txt

# Personal files
gesture-design-structure.txt
src/todo.txt
/todo.txt

# SQlite
/src/gestures-dev.db
